* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font: 18px/1.5 Arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d7fdc6;
}

header {
  text-align: center;
  margin-bottom: 8vh;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 2em;
  border: 3px solid black;
  border-radius: 5px;
}

.flexbox-1 {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.my-btn {
  width: 80px;
  height: 30px;
  margin-top: 25px;
  border: 2px solid;
}

.input-sec {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-btn {
  float: right;
}

.dynamic-box {
  border: 1px solid black;
  display: none;
}

.dynamic-div:nth-child(even) {
  background-color: rgb(176, 183, 183);
}

.name-holder,
.score-holder {
  width: 30vw;
  height: 30px;
  border: 2px solid;
}
